<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <center>
        <h1>
            Welcome To Sign Page
        </h1>
    </center>
    <div class="w-75 justify-content-center">
        @RenderBody()
    </div>
</body>
</html>
