<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <header class="mt-5 justify-content-center align-items-center ">
        <center>
            <div class="mt-3 p-3 bg-white rounded-3">
                <nav class="justify-content-center align-items-center">
                    <a class="btn btn-primary" href="/Home/Index">Home</a>
                    <a class="btn btn-info" href="/Home/AboutUs">About Us</a>
                    <a class="btn btn-warning" href="/Home/Privacy">Privacy</a>
                    <a class="btn btn-success" href="/Home/ContactUs">Contact Us</a>
                    <a class="btn btn-outline-success" href="/Accounts/SignIn">Sign in</a>
                    <a class="btn btn-outline-dark" href="/Accounts/SignUp">Sign Up</a>
                </nav>
            </div>
        </center>
    </header>


    <div>
        @RenderBody()
    </div>


    <footer>

        <center>
            <p> copyrights saved @DateTime.Now.Year Omar Hesham </p>
        </center>

    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
