
@{
    ViewBag.title = "Contact Us";
}



<body>

    <section class="justify-content-center align-items-center bg-success text-light">
        <center>
            <h1>
                Welcome To Contact Us Page
            </h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis officiis pariatur ipsam suscipit minima reiciendis sed ullam enim totam. Error laboriosam dolor optio delectus. Totam laudantium enim nobis. Quidem nisi delectus, cupiditate eum, natus vero mollitia aut, tempore explicabo rerum labore doloremque nam debitis quia molestiae optio quam dolorem eaque.
            </p>
        </center>
    </section>

</body>
