
@{
    ViewData["Title"] = "SignIn";
    Layout = "_AuthLayout";
}

<section>
   



    <form action="/Accounts/SignIn" method="post">
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary ms-auto d-block">Submit</button>
    </form>



</section>

